# Editor
*~
# Vagrant stuff
acceptance_config.yml
boxes/*
/.vagrant
/website/.vagrant
/website/build
/vagrant-spec.config.rb
test/vagrant-spec/.vagrant/
elasticsearch-1.1.0.noarch.rpm
fcrepo-installer-3.7.1.jar
mysql-community-release-el7-5.noarch.rpm
typesafe-activator-1.3.5.zip
nohup.out
/bin
/logs
derby.log